<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <script th:inline="javascript"></script>
    <head>
        <meta charset = "UTF-8">
        <title>URLの追加</title>
    </head>

    <body>
    <h2>基本情報</h2>
    <form action="#" th:action="@{/submit}"  method="post">
        <div style ="color:red" th:text="${ErrorMessage.errorLog}"></div>
        <p>name:<input type="text" th:field="${UrlInfomation.name}" /> URLPath<input type="text" th:field="${UrlInfomation.url}" /></p>
        <h2>タグの選択</h2>
        <p>
            <th:block th:each="i : ${#numbers.sequence(0,UrlInfomation.countTag() - 1)}">
                <input type="checkbox" th:value="${UrlInfomation.getTag().get(i)}"  th:field="${UrlInfomation.checkTag}" th:text="${UrlInfomation.getTag().get(i)}"/> 
            </th:block>
        </p>
        <p><input type="submit" value="決定"/> </p>
    </form>
    </body>
</html>