<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <script th:inline="javascript"></script>
    <head>
        <meta charset = "UTF-8">
        <title>URLの追加</title>
    </head>

    <body>
    <!-- ヘッダー -->
    <div style="display: flex; ">
        <form action="#" th:action="@{/urlInfomation}" th:object="${Account}" method="post" name="urlInfomation">
            <input type="hidden" th:field="*{name}" value="*{name}">
            <input type="hidden" th:field="*{passward}" value="*{passward}">            
            <input type="submit" value="URL一覧" />
        </form>
        <input type="button" onclick="location.href='http://localhost:8080/loginPage'" value="ログアウト">
    </div>
    <br>
    <!-- 中身　-->
    <h2>基本情報</h2>
    <form action="#" th:action="@{/submit}"  method="post">
        <input type="hidden" th:field="${Account.name}" value="${Account.name}">
        <input type="hidden" th:field="${Account.passward}" value="${Account.passward}">
        <div style ="color:red" th:text="${ErrorMessage.errorLog}"></div>
        <p>name:<input type="text" th:field="${UrlInfomation.nameUrl}" /> URLPath<input type="text" th:field="${UrlInfomation.url}" /></p>
        <h2>タグの選択</h2>
        <p>
            <th:block th:if="${UrlInfomation.getTag().size() != 0}" th:each="i : ${#numbers.sequence(0,UrlInfomation.getTag().size() - 1)}">
                <input type="checkbox" th:value="${UrlInfomation.getTag().get(i)}"  th:field="${UrlInfomation.tag}" th:text="${UrlInfomation.getTag().get(i)}"/>

            </th:block>
        </p>
        <p><input type="submit" value="決定"/> </p>
    </form>

    <br>

    <div style ="color:red" th:text="${errorLog}"></div>
    <form action="#" th:action="@{/inputTag}" th:object="${Account}" method="post">
    <p>タグの追加</p>
    <input type="hidden" th:field="*{name}" value="*{name}">
    <input type="hidden" th:field="*{passward}" value="*{passward}">
    <p>タグ: <input type="text" th:field="*{tagname}" value =""/><input type="submit" value="Submit" /></p>
    </form>

    </body>
</html>