<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <script th:inline="javascript"></script>
    <head>
        <meta charset = "UTF-8">
        <title></title>
    </head>

    <body>
    <tr th:each="urlINfomation:${urlINfomation}">
        <h2>基本情報</h2>
        <form action="haruContloller.java" method="post">
            <td th:text="${urlINfomation.name}"></td>
            <input type="hidden" name="name" th:value="${urlINfomation.name}">
            <td th:text="${urlINfomation.url}"></td>
            <input type="hidden" name="url" th:value="${urlINfomation.url}">
        </form>
        </form>
        <h2>タグの選択</h2>
        
        <h2>タグの追加</h2>
        <form action="haruContloller.java" method="post">
            <td th:text="${urlINfomation.tag}"></td>
            <input type="hidden" name="tag" th:value="${urlINfomation.tag}">
        </form>
    </tr>
    </body>
</html>