<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript"></script>

<head>
    <meta charset="UTF-8">
    <title>URL一覧</title>
</head>

<body>
    <div style="background-color: #DDD; padding: 30px; text-align: center;">
        <!--ボタン処理 -->
        <div style="display: flex; justify-content: center;">
            <input type="button" onclick="location.href='http://localhost:8080/addTag'"
                style="font-size: 24px; padding: 30px; margin: 10px;" value="タグ選択">
            <input type="button" onclick="location.href='http://localhost:8080/MemoPage'"
                style="font-size: 24px; padding: 30px; margin: 10px;" value="メモ">
            <input type="button" onclick="location.href='http://localhost:8080/addurl'"
                style="font-size: 24px; padding: 30px; margin: 10px;" value="追加">
            <input type="button" onclick="location.href='http://localhost:8080/urlRevision'"
                style="font-size: 24px; padding: 30px; margin: 10px;" value="変更・削除">
            <input type="button" style="font-size: 24px; padding: 30px; margin: 10px;" value="ログアウト">

        </div>
        <!--テキスト処理 -->
        <div style="font-size: 24px; margin-top: 30px; border: 1px solid black; padding: 200px;"></div>

    </div>
    <div th:object="${Account}">
        <h2>アカウント情報</h2>
        ユーザー名:<div th:text="*{name}"></div>
        パスワード:<div th:text="*{passward}"></div>
    </div>        

</body>

<footer>
    <br><a href="end"> サーバーを終了する</a>
</footer>

</html>