<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <script th:inline="javascript"></script>
    <head>
        <meta charset = "UTF-8">
        <title>Tag</title>
    </head>

    <body>
        <form action="#" th:action="@{/inputTag}" th:object="${tagInput}" method="post">
        <p>タグの選択</p>
        <p>タグの追加</p>
        <p>タグ: <input type="text" th:field="*{tag}" /><input type="submit" value="Submit" /></p>
        </form>

            <!-- <input type="text" id="text_name">
            <input type="button" value="追加" onclick="addName()">
            <script th:inline="javascript">
            var namelist = [];
            function addName(){
              var input = document.getElementById("text_name");
              var output = document.getElementById("output");
              namelist.push(input.value);// 配列に要素を追加
              <input type="checkbox" th:value="${tag}" th:text = "${tag}" th:field ="*{alltag}" />
              output.innerHTML = "";
              
              // 配列の要素を先頭から順番にすべて出力
              var i = 0;
              while(i < namelist.length){		           
                output.innerHTML += namelist[i] + "<br>";
                i = i + 1;
              }
            }
            </script>-->
    </body>
</html>